.home-parent {
  max-width: 100vw;
}

.carousel,
.carousel-item {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.hero-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  max-width: 100%;
  height: 100vh;
}

.carousel-item,
.carousel-inner {
  height: 100vh;
}

.hero-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.4);
}

.carousel-control-next,
.carousel-control-prev {
  display: none !important;
}

.carousel-indicators {
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1rem;
  right: 20px;
  margin: 0;
  bottom: 40%;
}

.carousel-indicators button {
  border: var(--primary-color) solid 2px !important;
  border-radius: 1rem;
  height: 10px;
  width: 1000px;
}

.carousel-caption {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.carousel-caption h1 {
  font-size: 70px;
  width: 700px;
}
.carousel-caption P {
  width: 700px;
}

.carousel-indicators .active {
  background-color: var(--primary-color);
  width: 40px;
}
.carousel-caption {
  bottom: 40% !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  bottom: -40px;
  width: 100%;
}

.filter-buttons {
  display: flex;
  gap: 0.3rem;
}

.filter-options {
  display: flex;
  justify-content: center;
  color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  flex-wrap: wrap;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 100%;
}

.filters {
  padding: 1rem 2rem;
  background-color: white;
  flex: 1;
  border-right: 2px solid rgb(235, 235, 235);
}

.filter-button {
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-button p {
  color: white !important;
  font-weight: bold !important;
}

.filters p {
  padding: 0 !important;
  margin: 0 !important;
  color: black;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.home-parent .filter-dropdown {
  border: none;
  color: gray;
  outline: none;
  padding: 0;
  margin: 0;
}

.home-parent .filter-search {
  border: none;
  outline: none;
}

.section {
  margin-top: 10rem;
  text-align: center;
  margin-bottom: 10rem;
  display: flex;
  gap: 4rem;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.subHeading {
  color: var(--primary-color);
  text-transform: uppercase;
  font-weight: bolder;
  padding: 0;
  font-size: 13px;
}

.heading {
  font-size: 50px;
  font-weight: bold;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.categories .category {
  display: flex;
  padding: 4rem;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background-color: rgb(242, 242, 242);
  flex: 1;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.categories .category:hover {
  background-color: var(--primary-color);
  color: white;
}

.places {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.places-list {
  list-style: none;
  flex: 1;
  padding: 0;
  margin: 0;
}

.places-list li a div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.places-list .count:hover {
  background-color: var(--primary-color);
  color: var(--grey-color);
}

.places-list hr {
  opacity: 0.1;
}

.places-list p {
  margin: 0;
}

.places-list li a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  /* align-items: center; */
  justify-content: center;
  color: black;
  font-weight: bold;
}

.places-list .count {
  color: var(--primary-color);
  background-color: var(--grey-color);
  padding: 0.1rem 0.5rem;
  border-radius: 0.2rem;
  transition: all 0.3s ease;
  max-width: fit-content;
}

.grey-section {
  background-color: var(--grey-color);
}

.featured-properties {
  padding-top: 8rem;
}

.featured-properties .properties {
  margin-top: 3rem;
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.home-parent .agents {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 100%;
  margin-bottom: 4rem;
}

.home-parent .agents .container {
  padding: 5rem;
  gap: 3rem;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.home-parent .agents .agents-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 65%;
  content: "";
  background: #050d21;
  z-index: -1;
}

.home-parent .agents .agents-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.home-parent .agents .agents-list .agent-card {
  border-radius: 5px !important;
}

.home-parent .agents .agents-list .agent-card .image img {
  border-radius: 5px !important;
}

@media (max-width: 1000px) {
  .carousel-indicators {
    display: none;
  }

  .carousel-caption {
    gap: 0rem;
  }

  .carousel-caption h1 {
    font-size: 40px;
    width: 100%;
    padding: 1rem;
  }
  .carousel-caption P {
    width: 100%;
    padding: 1rem;
  }
  .filter-options {
    flex-direction: column;
    width: 90%;
  }
  .filters {
    width: 100%;
    border: none;
  }

  .categories {
    flex-direction: column;
  }

  .categories .category {
    width: 100%;
  }

  .filter-box {
    bottom: -300px;
  }

  .categories-section {
    margin-top: 24rem;
  }

  .places {
    flex-direction: column;
    gap: 6rem;
  }
  .heading {
    font-size: 28px;
  }

  .featured-properties .properties {
    grid-template-columns: 1fr;
  }

  .home-parent .agents .agents-list {
    grid-template-columns: 1fr;
  }

  .home-parent .agents .container {
    padding: 1rem;
    align-items: center;
  }
}
